[2021-08-16 15:46] aaronhans opened #22 "dynamic previews with 11ty"
Thanks for looking into using Eleventy serverless https://www.11ty.dev/docs/plugins/serverless/ to do dynamic previews from our CMS

Getting the WordPress preview link to point to this service will be a separate task tracked in a different ticket

[2021-08-16 22:59] chachasikes opened #1 "Connect this repo & project boards to Slack notifications"

[2021-08-18 21:44] aaronhans opened #2 "QnA crawler readme updates"
We discovered some missing information in the readme in the https://github.com/cagov/qna-crawler repository.

Missing a description of the following required steps in the qnamaker section:

- Log into qnamaker.ai
- You should see the call center as one of the knowledge bases once logge din
- Check with teammates if you have permission problems and don't see the call center knowledge base. If you h

[2021-08-20 01:40] chachasikes commented on #1
Done!

[2021-08-20 01:40] #1 closed

[2021-08-20 01:43] chachasikes opened #3 "See if it is possible to connect issue MENTIONS to Slack"
Looks like the Github Slack integration tool does not support this out of the box unless it is "Activated" (?)

It would be *amazing* to get mentions when someone comments on one of our many Github repo issues.

The fallback is the Notifications features in Github Webpage, or try to connect email notifications & enable desktop notifications there.

[2021-08-20 01:57] chachasikes opened #4 "Go over new Github README checklist."
Created a new GitHub repo template that I want to share in collaborative meetings.

Included in this is a README template based on a review of README and a need to get agreements on what kinds of information we need. We are prototyping better Github issues templates and READMEs, and a necessary part of that templating process is building consensus and agreements with our collective wisdom.

Will s

[2021-08-20 02:14] chachasikes opened #5 "Preview Button"
For the WordPress + Design System + Headless/Decoupled publishing system we are connecting a government communications adapted publishing button to our static-site publishing system.

**Context**
In ODI's work for covid19.ca.gov, we learned a lot about the nature of aggregated messages coming from many agencies, leaders and industries. We learned that before we share critical guidance with the pub

[2021-08-20 02:16] chachasikes commented on #5
We started a Figma Jam file, which is the tool we are using for collaborative whiteboarding. (Scribbles & notes, but we are getting the information we need to make a dynamic system diagram.

https://www.figma.com/file/rBjEOlNhhDSdQhiDZCgSz9/WordPress-Design-System-Headless-Preview-Button?node-id=0%3A1

[2021-08-20 02:39] chachasikes commented on #5
We have two user stories we are using to think through the UX of the interaction through the whole system.

* An example with imaginary content that needs a community review of embargoed content, which is content intended to be published at a specific time, such as a press conference.

The information might be aggregated, edited, reviewed, revised, and links pulled together pulled together from ma

[2021-08-20 02:41] chachasikes commented on #5
8/19 notes: Carter & Chach went through the editor workflow and our system and existing preview feature. Detailed notes in FigmaJam.
8/20: Will talk through API authentication, autosaves & revisions.

[2021-08-20 02:50] chachasikes commented on #2
Slack thread with our full system review & more notes.

Next steps:
- Revise README in cagov/qna-crawler with notes and missing steps.

[2021-08-20 03:11] chachasikes opened #6 "Gather project onboarding information"
We have recently assigned different team members as "project leads"

We now have a template for updating project assets:
https://docs.google.com/document/d/1LQ9naZRawGsfPXpH_0lnK-ypFKntAfGWvlUD_A6ST9I/edit

**First draft of template:**

Project Name
: The most accurate name for a project you can come up with.
Other project names:
: Projects have colloquial names. What are they?
Github repo(s):
: L

[2021-08-20 03:21] chachasikes opened #7 "Check out SMART goals"
@rsanjabi shared the Insight teams SMART goals activity example

I duplicated the Google Sheet framework in case we would like to do it. [Template](https://docs.google.com/spreadsheets/d/1AfEJ-iQOsXV1dm_6BzWL75Oel7mxbgP1XCi_M-Oe9yQ/edit#gid=0)

- [ ] We need the process framework & introduction on how to work through it.
- [ ] Decide as team if we want to try it and support each other, if not - if

[2021-08-20 03:40] chachasikes opened #8 "Regular meetings scheduling"
We are rethinking our regular meetings.

Any meetings will need a public structure that we all know.
Need to go on calendars.
If we need to contribute to agenda, calendar reminders and Slack reminders will be helpful.

Currently proposed
- [ ] Some sort of Daily stand up
- [ ] Team focused meeting
- [ ] Roadmap meeting
- [ ] Docs Lab
- [ ] Code Lab

Any other ideas?

[2021-08-20 03:44] chachasikes opened #9 "Onboarding meeting schedule"
We discussed creating a meeting schedule for the first couple of weeks for new folks.

[2021-08-20 04:03] chachasikes opened #10 "Find out how to connect a design system issue to one of the board in odi-engineering"
Could not find the setting that would enable this, but this is set up for `main` board.
How?

Want to be able to pull documentation related issues in different repos into a queue of docs to review in DocsLab (a regularly occurring work session for improving ODI technical documents)

[2021-08-20 04:15] chachasikes opened #11 "Team docs idea: Notifications configurations"
Am researching some Github/Slack notification integration configurations that are going to be helpful now that we are back on Github and increasing our repo count.

It might be helpful to collect tips and share them with teams.

This might be a good team activity/presentation mid-September.

[2021-08-20 04:22] chachasikes commented on #3
Answer: maybe - found a page in github notification reminders config, need to try it to see if it actually works. @chachasikes

[2021-08-20 14:43] chachasikes opened #12 "Find out if (or how) we could connect CAWeb repo to a design-system board"
This is not urgent, but it is a future stumbling block.

As I understand it, we had trouble connecting an external GitHub repo to one of our boards, and it seems like the same is true for getting Slack notifications from movement on another agencies GitHub repo.

Hopefully this is just a configuration feature we need to research and locate the correct settings & not a blocking limitation.

The imp

[2021-08-20 15:11] chachasikes opened #13 "Team Calendar"
Our usual method of adding recurring calendar events is for someone to make a recurring event and invite whoever needs to be there.

This approach is very good for
* flexible meetings
* evolving project work
* focus: not cluttering calendars with information that doesn't require action

Some of the drawbacks of this approach:
* The host can never be late for a meeting... which means that drop-in s

[2021-08-20 15:46] chachasikes opened #14 "Finish welcome packet"
Notes on this in the doc itself
https://docs.google.com/document/d/1rtHKBaNXZBWrrrn-t5NAdSY1CLOoZ6elF_aDG5fERhQ/edit

[2021-08-20 22:26] aaronhans commented on #7
It was great that @rsanjabi shared this process and her experience with it with us.

We are missing this type of goal setting where we identify our individual professional needs and figure out how those can be met as part of our work for the state. I think we should try this out

[2021-08-23 15:47] aaronhans commented on #8
I believe there was a suggestion to reset the current biweekly friday meeting to be weekly codelab in the same meeting slot. This is similar to what has been going on here sometimes, we've gone over recent things the team needs to know like jsdoc, custom elements manifest and AWS accounts.

Topic for codelab can be collected and voted on in the slack odi-engineering channel and the best person to

[2021-08-23 18:18] carterm commented on #5
Here is the branch on digitcal.ca.gov that I am working with...
https://github.com/cagov/digital.ca.gov/commits/preview

[2021-08-24 16:29] chachasikes opened #15 "Feedback on Slack Reminders"
We realized that we needed Slack reminders for communication for engineers about shared resources, support requests.

On Wednesdays, we have been creating a summary of our activity, so that there can be whole team awareness about what we are working on, accomplishing, stuck on and more.

Chach set up a Slack Workflow for two Daily Reminders.
One in the morning, one in the afternoon.

We are trying

[2021-09-13 22:12] chachasikes opened #21 "Add a sitemap to all headless instances"
We have sitemap capacity on covid19 in the 11ty build.
digital.ca.gov, drought.ca.gov & headless cannabis all need sitemap support

[2021-09-16 20:04] aaronhans opened #16 "AWS infrastructure tracking"
Figure out where we are tracking existing/new AWS infrastructure we are firing up

We want to preserve engineering ability to flexibly spin up new stuff but we don't want to lose track of anything

- Agree on central spreadsheet for tracking infrastructure
- Test and document audit procedures so we know how to retrieve the list of everything in all regions regularly

[2021-09-16 20:05] aaronhans opened #17 "AWS expense collars"
We are using AWS effectively for high traffic applications but our planned expenses should be very low.

We can apply low expense thresholds that will catch unexpected runaway systems that are incurring unplanned cost.

[2021-09-16 20:07] aaronhans opened #18 "AWS infrastructure improve where tests run"
Right now tests run in the git action. This is good because:

- The tests are executing against the latest code about to be deployed
- The tests are deep and verify HTML structure, click interactions and data being sent

This could be better because:

- The environment the site is being run in is not a replica of production

We can improve this by deploying a version of the site to an S3/Cloudfron

[2021-09-16 20:08] aaronhans opened #19 "Document preferred AWS services"
There are several services we currently prefer on for compute, storage and databases

We need to document why we prefer these services and how to fire up new instances of them on your own

[2021-09-30 01:02] chachasikes opened #20 "Add AWS site health monitors (if we can)"

[2021-10-05 21:05] chachasikes commented on #20
Moved this issue to `odi-engineering` - about to add a board for issues that don't belong anywhere so we can elevate the need for a home that makes sense.

[2021-10-05 21:18] chachasikes opened #61 "Local environment set up"
Using this base install you should be able to create a local environment that matches the deployment environment we are using.

Environments
* MAMP - We (ODI) are just using MAMP for our local builds. Konstantin is using CDTs Docker set up (I believe - CS)

Future:
* Docker: CAWeb Publishing's Danny Guzman has created a Docker instance of the WP site for CAWeb. This would be a nice thing to also o

[2021-10-05 22:47] chachasikes opened #23 "Normalize all Github labels"
Have more labels that matter to our projects:

Headless publishing
Data pipelines
Performance
Testing
Media
Authentication
Decisions
Notifications
Configuration
Development (or Developer Needs)
Content Design
Presentations
Activities
Insights
Reviews
Pattern
Content page templates
Web infrastructure
Service
Translations
Component
Service - Page feedback
Github configuration

Any more we can find/t

[2021-10-05 23:22] chachasikes opened #24 "Come up with a name for our testing/development headless pipeline"
We need a development/testing pipeline.

Purpose:
* Work out publishing system integration tasks & features without impacting production sites
* Have a reference of the default installations for our services.
* Cross-train engineers on setting up different systems & independently review our services (trying technical documentation & raising issues)

Publishing pipeline components:

1. CMS: Current

[2021-10-05 23:24] chachasikes commented on #24
@zakiya  and @xjensen  tagging you - next week we can try to work on #4 here.

[2021-10-05 23:26] chachasikes opened #25 "Set up a full microservice endpoint for one of our publishing projects"
See [#24](https://github.com/cagov/odi-engineering/issues/24)

4 - Microservices.

- [ ] Organize random notes on service configuration - IN PROGRESS/Cross-training
- [X] Locate a board to track issues when reviewing the service

[2021-10-05 23:31] chachasikes commented on #16
Chad & I are going to sync on this week after next.

[2021-10-05 23:32] #15 closed, assigned to nobody

[2021-10-05 23:32] #14 closed

[2021-10-05 23:32] chachasikes commented on #14
Jenn finished the rest of this. Done for this round! :)

[2021-10-05 23:34] chachasikes commented on #11
We had one conversation about this, but still feels like team communications & notifications can always use a tune up

[2021-10-05 23:35] chachasikes commented on #9
Done

[2021-10-05 23:35] #9 closed

[2021-10-05 23:35] chachasikes commented on #8
Doneeeee! And working well!

[2021-10-05 23:35] chachasikes commented on #7
Adding this to Codeshare "Topics"

[2021-10-05 23:37] chachasikes commented on #6
Moving this to a Code share ... or... actually I still want us to do Docs Lab. Gonna find a couple of times a week for these activities cause we have so much documentation to write & we can include this in that.

[2021-10-05 23:39] chachasikes commented on #3
I made a channel that does this.

It needs to be linked to new repos on occasion though. Making a ticket to add this documentation to odi-engineering.

[2021-10-05 23:40] chachasikes opened #26 "Update Github issues notification Slack channel"
We have a Slack channel: odi-engineering-issues that only shows github repo new issues.
It is helpful for seeing what's going on on our projects that we are not mentioned or involved in.

Needs to be periodically updated with new github repos.

[2021-10-05 23:45] chachasikes opened #27 "Update digital.ca.gov publishing site infrastructure."
This site needs some attention.

* Move the editor location (to the correct name)
* Update the backend platform
* Connect it to our editor platform maintenance rotation

[2021-10-05 23:51] m-sullivan7 commented on #24
Quick check: I got alerted via email to the creation of this issue. Is there anything you need from me here? (Didn't see my name anywhere in it. 😉)

[2021-10-05 23:59] zakiya opened #28 "Unit Testing for components"
- when are visual regression tests appropriate
- how do we regression test changes to components before they are delivered to other projects
- cypress, playwright
- linting
- accessibility
- storybook, lit for preview?

[2021-10-06 00:01] chachasikes opened #29 "Create spreadsheet of all sites and configurations"
We need to start tracking our endpoints and services. Create a spreadsheet for this.

[2021-10-06 00:05] chachasikes opened #30 "Create documentation for ODI Publishing system"
This is partially underway. Currently vetting all our choices to identify holes.

[2021-10-06 00:06] britt-allen commented on #24
Same Q as Michael. If I am not needed, how can I be removed as it seems I
might be part of an auto listserv?

On Tue, Oct 5, 2021 at 4:52 PM Michael Sullivan ***@***.***>
wrote:

[2021-10-06 00:08] zakiya opened #31 "Visual Regression Testing for Web Projects"
Notes:

Slide deck: https://docs.google.com/presentation/d/1z1oqQKmG0tyWB4LnAaBPg4HU6vNiATv4qIGczz6-H14/edit#slide=id.gf6fe636d19_0_49

## Potential visual regression test types

### Site tests

(covid19, cannabis, drought, tbd)

- Though flawed, BackstopJS seems to be our best solution for Site Visual Regression Tests

### Independent Component tests

(ds-accordion, ds-table, ds-regulatory-outlin

[2021-10-06 00:08] chachasikes opened #32 "Redirection handling"
Sort our redirection capabilities & decide on data structure desired by headless pipeline.

See if we can expose redirection plugin data to headless in order to give a redirection UI to site admins from wordpress for additional redirects not accommodated by page renames. (Also check how redirection captures page slug renames)

Note: Aaron did some work on this already

[2021-10-06 00:09] chachasikes opened #33 "Pantheon code consolidation"
1. Finish scope & get this sprint under way
2. Revise WP theme/plugin reallocation
3. Agree to not support Divi in this workflow & plan to align on future support down the road.
4. Review refactor plan
5. Move code around (no re-writing, just tidying up) into new format & set up git repos with appropriate names
6. Make a cheat sheet for the structure of the installation
7. Create a template & then

[2021-10-06 00:14] abquirarte commented on #24
You can change your settings under "watch" :)

[image: Screen Shot 2021-10-05 at 5.10.05 PM.png]

Angelica Quirarte, "Angie"
Deputy Director | Office of Digital Innovation
c: 916-526-5510 or 916-812-6864
Digital Crisis Standard- covid19.ca.gov
<https://github.com/cagov/covid19/wiki/Crisis-Standard>

Follow us:
Web <https://alpha.ca.gov/> | Blog <https://medium.com/cadotgov> | Twitter
<https://twit

[2021-10-06 00:25] chachasikes opened #34 "Set up development pipelines for all headless platforms"
Create development publishing pipelines for testing new UI features on their way to production instances.

[2021-10-06 00:40] chachasikes opened #35 "Record notes from Preview UI session (on whiteboard)"
Have a photo - need to transcribe / summarize
(outcome was a Figma design that we need to prioritize to work on)

[2021-10-06 00:42] chachasikes opened #36 "Research approvals plugins"
We are talking about improving approvals workflow.

Needs UX Research, experience decisions, then scope & build.

[2021-10-06 00:42] chachasikes opened #37 "Write out a technical spec for preview UI"

[2021-10-06 00:43] chachasikes opened #38 "Schedule time to build staging toggle button"
We want to work on this - needs technical spec first then we can scope out.

We are almost done with the first part - getting the publishing system work into a github board so that the feature can be seen in the relative priorities of everything else.

[2021-10-06 00:44] chachasikes opened #39 "Document how we measure builds"
We have a loose idea of our reliability & some different logging and reporting services. Can we establish a baseline of our reliability so that we can measure our progress as we keep working on our middleware services?

[2021-10-06 00:45] chachasikes opened #40 "Add WP user name somewhere in commit logs"
Feature request

[2021-10-06 00:57] chachasikes opened #41 "Add two-way settings config for publishing sites to register links to connected services"
Aaron & Chach discussed ways of syncing Wordpress to its github repo & microservice endpoints.

Need to sort this out in order to progress on the preview button.

[2021-10-07 00:25] chachasikes opened #42 "News posts: Pre rendering approach"
We want to statically render static markup from a component without requiring data or templating logic in 11ty for components.

Here is an approach we can try that should be easy to implement & communicate for other API-driven components. The idea is based on a lit-html idea & also React static component rendering.

We can try this on the drought "Newsroom (staging)" page (as is, requires no API c

[2021-10-12 16:46] carterm commented on #22
The preview mode feature is fully functional now.
https://github.com/cagov/11ty-serverless-preview-mode

Ready to start looking at integrating it with drought.

[2021-10-12 16:48] carterm commented on #5
The preview NPM package is finished.
https://github.com/cagov/11ty-serverless-preview-mode

[2021-10-12 17:10] chachasikes opened #43 "Fix SCSS watch mode for 11ty sites"
There is something wrong with the build where src/js/components watch mode doesn't work.

Workaround is to do an edit on any file in `src/css/sass/index.scss`

[2021-10-12 17:54] chachasikes opened #44 "Sort out local configs vs env variables for our projects"
We agreed to use LastPass for our configs, but aren't doing this yet.

Let's start with the middleware project and make sure the configs and keys for our active deployments are secured and that the whole team has access.

[2021-10-12 18:17] chachasikes opened #45 "Document headless publishing saving process for developers and editors"
Starting a [doc](https://docs.google.com/document/d/100Mg23HsSzbCLIxte0-ZYIr1OcBdZm6FaSc2lQ_Q3F0/edit?usp=sharing) in Google Drive

[2021-10-12 18:39] chachasikes opened #46 "ODI publishing testing pipeline"
Create a generic sandbox pipeline to test odi-publishing.

- [ ] Priority 1: When editor pushes "Publish" __(editor url)__ content writes __correct_content to __correct github repo/branch__ and it updates on __correct s3 bucket__  [future: then sends correct response to correct notification/response service.] - Type: Trigger event.

Reference: test priorities:
1. polling
2. **trigger notifications

[2021-10-13 13:59] chachasikes opened #68 "Create outline of publishing system documentation"
- [X] Agree on main areas of what we are working on (as-is)
- [ ] Aggregate previous attempts to create a 1-pager about the system
- [X] Set up project board tracking the different threads of the publishing system
- [X] Create a git repo to house wiki content & content model documentation (needed to refer to it in code @DOCS references)

- [ ] Outline main headless publishing system configuration

[2021-10-18 18:47] chachasikes opened #47 "New config file, connect branch name & yml build secrets"
We have a new config file in drought.ca.gov - `odi-publishing`

Right now, it is branch specific, and used for site configs, site specific content and settings - and some of these settings may not be ready for production as site features evolve.
- Right now **the config is temporarily set to a hardcoded branch name** (while locating all the random strings throughout the 11ty build and components.)

[2021-10-18 18:50] aaronhans opened #48 "use git actions cache to speed up builds"
We deal with heavy dependencies in our builds because we need headless browsers to run e2e tests against open PRs before we approve them for merging.

Thanks to @zakiya and @xjensen for leading us toward this promising solution: https://docs.github.com/en/actions/advanced-guides/caching-dependencies-to-speed-up-workflows

This looks like a great way to speed up recurring builds which will most lik

[2021-10-18 19:51] zakiya commented on #46
Repo for testing here: https://github.com/cagov/odi-publishing-test/

[2021-10-22 16:12] chachasikes opened #49 "Keep improving merge bash script"
We are working on a shell/bash script that helps with safe merging between development/main branches.

We will also need this for handling changes with staging/preview branches.

Creating a ticket to keep this going, it's more an infrastructure feature than project work.

https://github.com/cagov/drought.ca.gov/issues/167

[2021-10-22 19:43] carterm opened #50 "Need WordPress key storage for notifications"
The notifications used for publishing store the Azure Function Key (code=) in the URL.  The Merge Tag system (like `{trigger_name}`) would be an ideal way to store keys and prevent their unwanted proliferation.

We need to find a way to store and use secrets in WordPress notifications.

[2021-10-23 00:43] #30 closed

[2021-10-23 00:46] #39 closed

[2021-10-25 20:39] jbum opened #67 "Document issues with 3rd party service dependencies"
There are several 3rd party services that will cause failures if they go down, including Azure, Akamai, Github, AWS S3, AWS CloudFront. It will be useful to produce a report that documents for each such service a) the expected effect if the service goes down, b) its reliability in the past 2 years c) methods we can do to reduce or eliminate downtime effects d) support websites and contacts e) work

[2021-10-25 23:44] chachasikes opened #51 "Create documentation for ODI Publishing system."
Where does our documentation live? What is the cadence of updates?

Suggestions from Jared:
- "First aid" documentation (wiki) (contact information) - (if any of our third party services
- Internal documentation (who to contact in ODI)

[2021-10-25 23:54] chachasikes opened #52 "Complete diagram of ODI Publishing"
Zakiya started a diagram of the ODI Publishing system and shared it with Jon & Chach.

We used Figma's FigJam to edit the technical diagram.

We would like more feedback from non-engineers on the diagram so that our diagram is accurate to how the system is built, and useful for all our team members and partners who might want to understand how our system is configured.

Note: @aaronhans also creat

[2021-10-26 17:47] xjensen opened #53 "Per-PR Preview Sites in AWS"
For our sites on AWS, let's set up automatic preview sites per branch, triggered upon PR. This would be similar to what Azure tried (but often failed) to do for PRs in Covid.

Here's the general outline.

1. Request a new DNS entry, such as `pr.drought.ca.gov` or `demo.drought.ca.gov`.
2. Point it to a **single** Cloudfront distribution.
3. Create a **single** S3 bucket.
4. Create a GitHub Action

[2021-10-26 20:42] zakiya opened #64 "Test Saving"
When an editor publishes a post in the sandbox WP editor, it appears on live. Time it.

[2021-11-04 20:28] aaronhans opened #54 "Propagate production install flag to all repos"

[2021-11-05 18:57] wrendo opened #55 "Bug: Dual scroll bars"
see screenshots

<img width="376" alt="Screen Shot 2021-08-13 at 2 39 38 PM" src="https://user-images.githubusercontent.com/1387973/129421349-fe8fc22e-97fe-4d97-a6ee-34230c27fd16.png">

<img width="494" alt="Screen Shot 2021-08-13 at 2 40 24 PM" src="https://user-images.githubusercontent.com/1387973/129421361-1948af0f-5a13-4542-be4a-19c123e2b7a8.png">

[2021-11-05 19:42] chachasikes opened #56 "Publishing approvals"
Placeholder for sorting out publishing & approvals

[2021-11-05 19:43] aaronhans opened #57 "Managing redirects in WordPress architecture"
We currently have 2 ways we are managing redirects in WordPress:

1. The cannabis WordPress site uses the plugin from redirection.me.
This does a lot of cool things:
  - well documented
  - keeps track of changes to slugs
  - allows manual exports of full dataset
  - allows data retrieval via WP REST API (but requires authentication)
Some things aren't optimal
- To create a redirect users need ele

[2021-11-05 19:47] chachasikes commented on #24
Done!

[2021-11-05 19:47] #24 closed

[2021-11-05 19:50] chachasikes commented on #52
Pausing this til we catch up.
A good outcome for this would be a couple of slides to be able to use in presentations.

[2021-11-08 20:28] aaronhans opened #58 "CORS troubleshooting"
After uploading jsons to the new data.covid19.ca.gov host and using them to power charts we are seeing intermittent CORS issues in our build tools that are retrieving these charts.

So far we have applied the:
- CORS policy on S3
- modified CloudFront to respond to OPTIONS requests

At this point we are no longer seeing any issues in our testing in browsers

We are still seeing issues in the git a

[2021-11-08 20:51] chachasikes commented on #46
Works locally -
another step for another person to run it.

[2021-11-08 20:53] chachasikes commented on #46
This week - make the development pipeline.

Then use the tester.

[2021-11-08 22:17] kkoryaka opened #59 "design system adaptation on CAWeb theme"
##  Our goal is to modify CAWeb theme that would be:
- running on design system css from combined-css component
- no divi or State template styles
- using design system JavaScript from same combined-css component (no jQuery or bootstrap)
- Header and page section are using design system structure

## WHY:
- Making CAWeb theme look like design system will give editors consistent visual experience.

[2021-11-09 15:37] chachasikes opened #60 "Update npm docs"
We have this page
https://github.com/cagov/odi-engineering/wiki/How-to-publish-a-package-to-npm

Is this up to date?
Anything else to say or add about this?

[2021-11-09 15:54] chachasikes commented on #38
We reorganized our publishing structure. No longer need this issue as a reminder.

[2021-11-09 15:54] #38 closed

[2021-11-09 16:02] chachasikes commented on #26
Done, and added to a wiki page as part of Github maintenance.

[2021-11-09 16:02] #26 closed

[2021-11-09 16:08] chachasikes commented on #29
[Did this already](https://docs.google.com/spreadsheets/d/1BfzjtTIK5sJFiXtyooKHRU5zSVoPzVNeJtNxKdGMv0o/edit#gid=0)

[2021-11-09 16:30] chachasikes commented on #33
Code consolidated, editors all updated.
This issue was a reminder and all of these threads are in the system or otherwise in conversation now. Closing.

[2021-11-09 16:30] #33 closed

[2021-11-09 16:33] chachasikes commented on #25
All the pantheon instances are complete.

[2021-11-09 16:50] chachasikes commented on #35
Note: I found the photo & emailed it to myself, still need to transcribe it.

[2021-11-09 16:54] chachasikes commented on #12
Doesn't look like it, linked repos only possible from main org. Closing.

[2021-11-09 16:54] #12 closed

[2021-11-09 16:57] chachasikes commented on #53
@aaronhans  Is this for the backlog? (Found it in issue clean up this AM)

[2021-11-09 16:58] chachasikes commented on #46
This might be a duplicate

[2021-11-09 16:58] chachasikes commented on #46
Updated all the pantheon instances & made mirrors repos.
Linked on Github board for Editor / CMS

[2021-11-09 17:12] zakiya commented on #46
@chachasikes Which pantheon instances were updated?

[2021-11-09 18:47] aaronhans commented on #53
Thanks for finding this!

This is important because it gives us the modern experience of immediately browseable, cloud hosted, production architecture based version of the site based on every open PR without any limits (Like we run into on Azure Static Web Apps)

I gave it a p2 since it isn't blocking any of our high priority goals. It should stay in backlog on the static site gen board and I assi

[2021-11-09 21:53] aaronhans commented on #21
- https://headless.cannabis.ca.gov/sitemap.xml
- https://github.com/cagov/digital.ca.gov/pull/36

[2021-11-10 02:22] chachasikes opened #62 "Try Oasis Workflow"
https://www.oasisworkflow.com/documentation/getting-started/installing-the-plugin

Michael mentioned a team was using this plugin. Let's check it out.

[2021-11-10 17:11] #21 closed

[2021-11-10 17:42] aaronhans commented on #53
Glad @xjensen mentioned this issue in the robots disallow crawling discussion. It will be important to make sure that all of these development instances get the appropriate disallow directives when they are being spun up.

[2021-11-10 18:26] zakiya opened #65 "Make simple saving test developer-friendly"
A developer should be able to enter an editing url and viewing url of a newly created pipeline to test that new content is created.

- Saving test should run headlessly and locally without the need for manually clicks.

[2021-11-10 18:51] zakiya opened #63 "Organize the Setting up a new headless site instance wiki page"

[2021-11-10 19:26] zakiya commented on #34
We have an odi-publishing pipeline now. Though at this point I think we can start thinking of it as a series of repeatable steps rather than one static entity. Assigning this to @aaronhans  since  digital.ca.gov should be the only one left. And @chachasikes for visibility.

(Also - Maybe we should change the title so the meaning is more scannable during board grooming sessions?)

[2021-11-10 19:29] zakiya commented on #31
Going to unassign this for now since it is very backlog-y.

[2021-11-10 19:34] zakiya commented on #25
I'm going close this since it is in the **Done** column.

[2021-11-10 19:34] #25 closed

[2021-11-10 19:34] zakiya commented on #25
I just noticed this issue is also on two other boards. Going to assign to @chachasikes for clarification/next steps.

[2021-11-10 21:16] zakiya commented on #63
GitHub doesn't have an automatic way to nest/organize wiki pages. I broke out the [Set up a new FaaS service](https://github.com/cagov/odi-engineering/wiki/Set-up-a-new-FaaS-service) step of [Setting up a new headless site instance](https://github.com/cagov/odi-engineering/wiki/Setting-up-a-new-headless-site-instance) into its own page and used the sidebar feature but it's all very manual. For ins

[2021-11-15 17:12] chachasikes commented on #34
@zakiya Happy for better issue name suggestions.

digital.ca.gov is done. (I checked it off above.)

[2021-11-15 17:56] aaronhans commented on #34
I created a ticket to optimize the pipeline for digital.ca.gov. The production instance of that site is still hosted on github pages, will move that to S3 as I setup all the staging/test pipelines from the pantheon WP instances

https://github.com/cagov/digital.ca.gov/issues/40

[2021-11-15 21:15] kkoryaka opened #66 "design system adaptation on Generate press theme"
# Our goal is to modify high performant Generate press theme that would be:
- running on design system css from combined-css component
- using design system JavaScript from same combined-css component
- Header and page section are using design system structure

## WHY:
- Generate Press theme proved to be fast, light, simple and high performant
- Making Generate Press theme look like design system

[2021-11-15 22:39] chachasikes commented on #30
Update:
- We added more diagrams
- Jared is going to work on an even more reader-friendly diagram
- Zakiya is starting to move the bigger config sections to new sections on odi-engineering wiki

[2021-11-16 18:10] zakiya commented on #63
Going to close this since there's no other agreed action to take.

[2021-11-16 18:10] #63 closed

[2021-11-16 23:19] chachasikes commented on #60
We updated the docs the other day. Closing.

[2021-11-16 23:19] #60 closed

[2021-11-16 23:22] chachasikes commented on #52
Updates:
* We revised the diagrams last week.
* Jared is going to work on a more general version of the diagram.
* We started using post-its in FigmaJam to indicate where in the pipeline we need more robustness/configuration clarity.
* Pair diagramming is helpful when a system needs documentation. (Could be FigmaJam or LucidCharts)

[2021-11-16 23:33] xjensen commented on #53
We now have a nearly working example of this in Drought via cagov/drought.ca.gov#211. (Just need to merge cagov/drought.ca.gov#213 to apply a few clean-up fixes to the GitHub Action after observing it in action.)

Leaving this open, for now, pending the following concerns.

* Need to decide if/when we want to apply this technique to other sites.
* Need to complete documentation.
* Bonus points for

[2021-11-16 23:45] aaronhans commented on #53
So cool to see this coming together. Really happy you found the time to get this setup and got the git workflow code in review already!

We want this on all sites ASAP and have reviewed one PR for it already, so should move back into todo when the open PRs are merged

[2021-11-17 20:59] zakiya commented on #65
@wrendo

[2021-11-17 23:45] jaredwyee commented on #52
First draft of super abstracted diagram https://docs.google.com/presentation/d/1rhY8S-4XW9V6OHDM0u5aGqsn5K3KGnsZ0HS1iAcXfhc/edit#slide=id.p

[2021-11-18 00:44] kkoryaka commented on #66
Was able to adapt design system locally, now I need to create child theme and put it into the repo:
![Screen Shot 2021-11-17 at 4 32 56 PM](https://user-images.githubusercontent.com/31669748/142322794-540f5262-24fc-4879-84b8-fbced239365c.png)

[2021-11-22 16:48] aaronhans commented on #58
We sorted out the issues with CORS on CloudFront, we do need to apply the custom CORS policy we created for CloudFront in addition to all the other steps. This info is documented in the CORS section of the infrastructure setup doc: https://github.com/cagov/odi-engineering/wiki/Setting-up-a-new-headless-site-instance

CORS verified on data.covid19.ca.gov and that domain is now used in production fo

[2021-11-22 16:48] #58 closed

[2021-11-22 16:54] aaronhans commented on #53
Great work on this @xjensen!

This ticket is ready to close now right?

I opened up these follow up tickets to implement this on cannabis and covid19:
https://github.com/cagov/cannabis.ca.gov/issues/437
https://github.com/cagov/covid19/issues/5692

[2021-11-22 17:04] #22 closed

[2021-11-22 17:07] aaronhans opened #70 "Per PR preview sites on AWS for digital.ca.gov"
Work with @xjensen to implement the techniques pioneered here on digital.ca.gov cagov/odi-engineering#53

[2021-11-22 17:13] aaronhans commented on #34
Great work on this @zakiya!

Recommend closing this ticket now

[2021-11-22 20:26] xjensen commented on #53
Cool, thanks for opening those other tickets!

I'd like to keep this open until the documentation is finished, hopefully by end of day. Stay tuned.

[2021-11-23 02:20] xjensen commented on #53
[Documentation](https://github.com/cagov/odi-engineering/wiki/Set-up-PR-preview-sites) now available.

I'll go ahead and close this ticket; feel free to reopen if anything else is needed.

[2021-11-23 02:20] #53 closed

[2021-11-23 16:36] #34 closed

[2021-11-29 22:43] #65 closed

[2021-11-29 22:43] #64 closed

[2021-12-01 01:27] zakiya opened #71 "Testing - Headless Menus"

[2021-12-01 01:27] zakiya opened #72 "Testing - Headless Redirects"

[2021-12-01 01:28] zakiya opened #73 "Testing - Edit/Delete Posts"

[2021-12-01 01:30] zakiya opened #74 "Testing - Content Staging"

[2021-12-01 01:31] zakiya opened #75 "Testing - Content Preview"

[2021-12-01 17:08] xjensen opened #76 "Generate WEBP images automatically"
Using WEBP image format will help us achieve better performance on our sites. We should look into ways of automatically converting PNG and JPEG formats within our infrastructure or static site builds.

[2021-12-10 21:11] chachasikes opened #77 "Document our Slack debugging channels and also name them better"
We are a little confused about our Slack channels. They need some documentation & can have better names.
Also we want to make sure we adjust our output reports to not commit to production channels

[2021-12-10 21:15] chachasikes commented on #77
Also helpful to include the IDs somewhere were it makes sense, they aren't quickly identifiable.

[2022-02-02 19:01] #31 closed

[2022-02-23 21:52] chachasikes commented on #4
Adding to next sprint - can close this out or update the template - want to record our process notes

[2022-02-28 23:55] zakiya opened #78 "Explore Notion as a CMS or wiki solution"

[2022-03-01 00:24] zakiya commented on #78
Notion API is designed as a simple backend structured data source. Since there's no simple way to access an entire page's contents, I don't think this viable solution for a rich-content backend like we had imagined.

Notes here: https://odi-dev-zk.notion.site/Notion-as-a-CMS-35f53c7f1b7c401ab0943c70d9051dd7

[2022-03-01 00:24] #78 closed

[2022-03-01 17:40] chachasikes commented on #78
Thanks for trying out the API.

I see that the API produces block-by-block output. That's a bummer, as is it seems like it would be a little slow to pull data from & not optimized for clean output.

The API output looks similar to what Contentful provides for rich media blocks (I forget the exact name, but something like that)

For Contentful, there is an html rendering npm package that can transl

[2022-03-01 17:47] chachasikes commented on #78
The alternative is to use the export with subpages to markdown & commit the folder (like @zakiya did with our design system docs) - but that's why we wanted the API in the first place - to see if this is automatable.

[2022-03-01 17:57] chachasikes commented on #78
nevermind about page lock idea - i would expect that that feature just prevents interaction enough to allow a user to copy the page without activating all the editable regions

markdown data by API would be the dream feature

[2022-03-09 20:58] chachasikes commented on #4
Moved this into Notion today - it's slowly becoming part of our process.

[2022-05-09 20:28] xjensen opened #79 "Project-less headless sites"
First, some background.

In the coming months, we'll need to migrate [drought.ca.gov](https://drought.ca.gov/) into CDT's stewardship. However, CDT is weary of adopting our current architecture, where each site exists within its own git repo, and every site is configured a bit differently. They have elected to roll their own architecture for Drought within their overall CAWeb project.

If CDT woul

[2022-05-10 18:27] chachasikes commented on #59
Closing this one while cleaning up some boards now that we are starting to get the rest of this backlog cleared.

[2022-05-10 18:27] #59 closed

[2022-05-10 19:01] #61 closed

[2022-05-10 19:05] chachasikes commented on #46
Closing this one. If we regroup on this it will need to be part of a managed sprint.

[2022-05-10 19:05] #46 closed

[2022-05-10 19:09] chachasikes commented on #71
Menus are being refactored. Adding this issue as a reference on our testing approach. We can pick this up again if we have a managed sprint focused on testing. Closing/archiving.

[2022-05-10 19:09] #71 closed

[2022-05-10 19:12] chachasikes commented on #66
Archiving / closing.

We did a lot of work on this and created an alternate theme in order to help validate what needs to go forward into the CAWeb theme.

Work is starting to pick up on this by CDT and expect this effort to be rescoped, so closing.

[2022-05-10 19:12] #66 closed

[2022-05-10 19:17] chachasikes commented on #74
I believe you!

Closing :)

[2022-05-10 19:17] #74 closed

[2022-05-10 19:18] #73 closed

[2022-05-10 19:20] chachasikes commented on #36
Closing - we will rescope the review issues.

[2022-05-10 19:20] #36 closed

[2022-05-10 19:21] chachasikes commented on #62
Closing but adding to list for "review" for cannabis project.

[2022-05-10 19:21] #62 closed

[2022-05-10 19:25] chachasikes commented on #37
Closing - Jon worked on this but will pick up again if it's needed.

[2022-05-10 19:25] #37 closed

[2022-05-10 19:26] chachasikes commented on #41
Did actually create this.

Static sites have an odi-publishing config.
The WordPress plugin has the ability to take env variables & configs & use them.
We put this in headless cannabis instance.

We aren't actively working on this right now, so I will close (archive) this - but will add it to a list of things we did so that we can pick it up again if we decide we want to work on it again.

[2022-05-10 19:26] #41 closed

[2022-05-10 19:27] chachasikes commented on #44
Done

[2022-05-10 19:27] #44 closed

[2022-05-10 19:31] chachasikes commented on #35
Will share with team when we discuss review so we can re-scope this if needed. Closing.

[2022-05-10 19:31] #35 closed

[2022-05-10 19:31] chachasikes commented on #5
Closing, but adding to list of old tickets related to deprioritized "review work"

[2022-05-10 19:33] chachasikes commented on #45
This was done

[2022-05-10 19:33] #45 closed

[2022-05-10 20:24] chachasikes commented on #79
@xjensen Confirm that media assets are supported on WPVIP (or how)

[2022-05-10 20:25] chachasikes commented on #77
Don't need.

[2022-05-10 20:25] #77 closed

[2022-05-10 20:26] #75 closed

[2022-05-10 20:26] chachasikes commented on #75
@zakiya assume this is safe to close until it needs to be reopened. You can reopen if you need it.
We will rescope any future testing work.

[2022-05-10 20:26] #72 closed

[2022-05-10 20:27] chachasikes commented on #72
Will rescope if when/we need to

[2022-05-10 20:27] chachasikes commented on #52
This really has evolved! It's a stellar dynamic system diagram now. Go us. :)

[2022-05-10 20:27] #52 closed

[2022-05-10 20:28] chachasikes commented on #51
Currently lives in Notion under "Design System Integrations" & is being socialized with devs for Design System.

Other documentation was created but project & scope being revisited, so think it's safe to close this now.

[2022-05-10 20:28] #51 closed

[2022-05-10 20:29] #47 closed

[2022-05-10 20:30] chachasikes commented on #68
Leaving open as a reminder - because this probably needs a tune up.

[2022-05-10 20:30] #40 closed

[2022-05-10 20:31] chachasikes commented on #28
@zakiya Safe to close this for now? Do you want to write any follow ups & let this get prioritized in scoped work?

[2022-05-10 20:32] chachasikes commented on #23
This was handed over to Design System team & Yesenia is now github label manager.
Don't have many other needs to standardize labels right now, so closing this issue.

[2022-05-10 20:32] #23 closed

[2022-05-10 20:32] #13 closed

[2022-05-10 20:32] #11 closed

[2022-05-10 20:32] #7 closed

[2022-05-10 20:32] chachasikes commented on #6
Talent is doing this now, closing.

[2022-05-10 20:32] #6 closed

[2022-05-10 20:34] chachasikes commented on #4
Progress update: Process is improving.

Will continue to periodically revise the recommendation with things we are learning for a more perfect government README.

[2022-05-10 20:34] chachasikes commented on #2
@jbum OK to close?

[2022-05-10 21:56] zakiya commented on #28
Going to close. We have most of these things now and others will come up elsewhere.

[2022-05-10 21:56] #28 closed

[2022-05-13 17:47] xjensen commented on #79
@chachasikes Yes, media is supported. There are a few interfaces for pulling media (REST API, Photon API), and pushing media (VIP-CLI tool, VIP File System PHP library). I think we should be able to figure it out. It's just different.

One thing that's (maybe) notable: JSON is not among the supported media file types. This may be preferred for security reasons, etc. And I think we can add support

[2022-05-19 16:06] rkojik commented on #79
Thanks for the exploration ya'll! I didn't realize the site could be generated and stored in Node.js environments... I have a few questions/thoughts:

- I think I knew JavaScript on the back-end server was a thing... I'm just curious why?!? [It breaks my brain a little—the whole purpose of ECMAScript is interoperability across browsers (the DOM and client-side)... maybe because so many people are

[2022-05-19 19:10] chachasikes commented on #79
@rkojik re: backend JS - one reason: using same language for frontend browser AND the backend. As such a common language, it means that more web devs can create utility scripts (JS is a common base language).

Our "functionless server scripts" are just nodeJS scripts, wrapped in an newer technical term. They can perform work - such as writing to another server, pre-compiling data during  a build p

[2022-05-19 20:13] xjensen commented on #79
@rkojik My understanding of the WP-VIP CDN is that they're using a tool like [Varnish](https://varnish-cache.org/) to heavily cache all site pages. I _believe_ it's still possible to use this cache if the Node.js app is hosted within WP-VIP. We would need to test it.

Otherwise, it's also possible to go with a fully external CDN like Cloudflare or Cloudfront. The main argument for this approach wo

[2022-05-19 21:12] zakiya commented on #79
I don't know much about WP-VIP (technical documentation on the web is lacking) but I do know Pantheon, which is a competitor.

On Pantheon, the CDN and Varnish are two separate features. The advantage of Varnish on a PHP site is that requests don't have to be processed by the server and/or query the database unless absolutely necessary. I'm not sure Varnish would make much of a difference on a sta

[2022-07-22 20:43] zakiya opened #80 "Document Slack channels with automatic notifications"
Let's document
- name of channel
- Channel ID
- Type of notices
- What service triggers a notification
- Link to triggering code if applicable
- Anything else that may be relevant to others

https://cadotgov.slack.com/archives/CVCSH3CR5

Partial list:

#covid19-alerts
#odi-engineering-issues
#testingbot
#twitterfeed
#wordpress-sync-http-trigger

I've started a [table in Coda](https://coda.io/d/_dL

[2022-07-25 16:24] xjensen commented on #79
Looks like we won't be working on this, closing.

[2022-07-25 16:24] #79 closed

[2022-07-25 16:28] xjensen commented on #43
Looks like 11ty-build-system has been installed on all our remaining sites. Closing.

[2022-07-25 16:28] #43 closed

[2022-07-25 16:30] xjensen commented on #70
Looks like this is done.

[2022-07-25 16:30] #70 closed

[2022-07-25 16:35] xjensen commented on #2
Closing for now. Can reopen as needed.

[2022-07-25 16:35] #2 closed

[2022-07-25 16:41] xjensen commented on #54
@aaronhans Was this issue about replacing `npm install` with `npm ci --production` in all of our GitHub Action deployment scripts?

[2022-07-25 16:47] xjensen commented on #17
@aaronhans @ChadABratton Checking in to see if we've done any work on implementing service quotas on AWS.

[2022-07-25 16:48] xjensen commented on #16
@aaronhans @chachasikes @ChadABratton Checking in to see if there's anything left to do re: tracking AWS usage.

[2022-07-25 18:21] xjensen commented on #4
@chachasikes @zakiya Okay to close this issue? Seems like we might be at a point where this can just become a regular part of our work.

[2022-07-25 18:24] xjensen commented on #18
@zakiya What do you think about this one? Proceed or close?

[2022-07-25 18:54] xjensen commented on #48
Currently evaluating a solution in cagov/drought.ca.gov#304.

We'll see how it goes, then do it on the other sites if all looks good.

[2022-07-25 19:15] xjensen commented on #49
I'm going to close this one.

Since we opened this Issue, it's been my experience that one script rarely fits all scenarios. Yet, our current scripts are a great starting point for most tasks. I recommend we keep this practice going, without the goal of creating one script to rule them all.

[2022-07-25 19:15] #49 closed

[2022-07-25 19:31] xjensen commented on #20
I'm thinking we should close this issue.

We need more information about why we would want to implement health checks.

* Do we have any services that routinely go down, for which we don't have monitoring already? In other words, do we have an immediate need? (I can't think of much beyond just pinging the site domains.)
* Or, are we trying to check off a box to make our publishing model more appea

[2022-07-25 19:45] zakiya commented on #4
@chachasikes Can you add a link to the template you're referencing here? Even if it's still in Notion?

[2022-07-25 19:46] chachasikes commented on #4
I will find it, it's probably in Coda already.

[2022-07-25 19:52] zakiya commented on #18
Let's leave it open for now. Eventually I'd like to find a better home for ideas but this'll do for now.

[2022-07-25 20:02] zakiya commented on #20
This ties into a discussions that have come up on both cannabis and covid19. We have a solution for uptime monitoring with Google Console that has been implemented for cannabis and innovations.ca.gov.

The idea of checking for certain elements and/or regular visual regression testing has also come up. I agree that this is something we need to discuss before we throw ourselves into implementation.

[2022-07-27 02:44] jbum commented on #80
Document: https://docs.google.com/spreadsheets/d/1NPlE1zlPfrrw78h0pl1C9MQcHu1nO6L6BE9ZE0zFq04/edit#gid=0

[2022-07-27 15:50] aaronhans commented on #16
We do need assistance from Chad's team here. Right now the engineering AWS accounts can fire up infrastructure at will but we can't view the billing dashboards.

We need elevated permissions so we can audit our current usage costs by service manually and setup alerts for cost thresholds.

[2022-07-27 15:53] aaronhans commented on #17
not yet

[2022-07-27 15:53] aaronhans commented on #54
yes, thanks for implementing this in some places already @xjensen

[2022-07-27 16:17] zakiya commented on #80
Perfect. Closing.

[2022-07-29 23:22] zakiya commented on #80
So very done.

[2022-07-29 23:22] #80 closed, assigned to jbum

[2022-08-02 23:37] ChadABratton commented on #16
CDT is going to give us access to a new AWS billing panel. I will let everyone know as soon as this is ready. It should be this month.

[2022-08-04 17:39] zakiya commented on #68
I'm going to close this one. If we pick up headless publishing as an entire project again we can revisit.

[2022-08-04 17:43] zakiya commented on #54
@xjensen @aaronhans Can you list out where this is implemented and were it isn't?

[2022-08-04 17:43] #68 closed

[2022-08-04 18:10] xjensen commented on #54
We have it on Drought already. I believe we still want it on Digital and Cannabis.

Here's some background for posterity. The purpose of `npm ci --production` is to prevent installation of `devDependencies` during production builds. This can significantly speed up publication time and prevent some errors. The challenge is rearranging the `dependencies`/`devDependencies` in package.json to ensure e

[2022-08-04 19:06] zakiya commented on #54
Note to self: Create individual issues in the cannabis and innovation repos once they've been cleaned up a bit

[2022-08-04 20:21] zakiya opened #81 "Repo CleanUp - Step 1"
- [x] Start ~an airtable~ a google spreadsheet audit with all `cagov` repos
- [x] Make sure each repo has a description so when people go to https://github.com/cagov they have an idea of what each repo is for.

**Possible future steps**
- Identify which repos are active/inactive
- Identify a lead dev contact for each repo
- Archive inactive repos
- Implement README template
-

@ChadABratton Anythi

[2022-08-04 20:34] zakiya opened #82 "Team use email documentation"
ODI has two emails that are not tied to an individual. We need to fully document their usage in Coda.

See @zakiya for Coda link and emails

[2022-08-04 20:44] zakiya commented on #82
toolkit.covid19. may be related to https://toolkit.covid19.ca.gov/

@chachasikes I believe you said wpserviceuser was a github user but not seeing them in the list.

[2022-08-04 20:51] jbum commented on #67
Closing. Little too broad & scattershot for the benefit.

[2022-08-04 20:51] #67 closed

[2022-08-04 20:54] zakiya opened #83 "Design system component - D3 charts"
I'm keeping this out of the design system issue queue for now so it doesn't get lost.

@jbum and @chachasikes both had ideas about creating one or a series of demo charts for the design system. I think we need to spend some time scoping out exactly what that would look like.

[2022-08-04 22:48] chachasikes opened #84 "Contrib space for ODI design system components"
Was brainstorming ideas about this a couple weeks ago & continue to feel a need for this.

It could be called:
`@cagov/design-system-contributed-components`
`@cagov/design-system-components-odi`

Would be a place where our team can put our shared components in the intermediary period before we would propose them to the DS. A fork, branch, etc of `@cagov/design-system` is another method, but would

[2022-08-04 22:49] chachasikes commented on #83
https://github.com/cagov/odi-engineering/issues/84 Trying to figure out where we could put this code.

* Prototyping in a real project first
* Move to ODI contrib
* Register it on the component feature list that Yesenia (DS PM) would manage
* Propose it and bring it through the component review workflows that Christina is working on.

[2022-08-04 22:52] zakiya commented on #84
I like this idea. Will put it on the next codeshare agenda.

[2022-08-09 00:40] zakiya opened #85 "Research alternatives to Tableau; document the drawbacks"
This could also become a blog post eventually

[2022-08-09 15:56] aaronhans commented on #85
Here are the pieces related to this we've written so far and not turned into blog posts: Analysis of movement from Tableau -> D3 on covid19.ca.gov's main dashboard which resulted in 90% reduction in time to interactive: https://docs.google.com/document/d/18MboPkCXAqyf2__VORUp3A_u7wTRc8elFeDPsRwvix8/edit

There is a ton of research behind our Tableau switch because that was a big decision. We got a

[2022-08-12 21:42] chachasikes opened #86 "AWS Certificate documentation for our PR preview documentation"
Our wiki page for PR previews mentions "managing AWS certificates"

We are getting the PR preview set up for upcoming cannabis headless work
https://github.com/cagov/Help-Desk/issues/652

Aaron needed to do this step, as according this this documentation (which is very good - seems like it's just a few notes on the final part of the process that aren't entirely self-service.)

https://github.com/c

[2022-08-12 22:48] xjensen commented on #86
Regarding the screenshot, is that all you see? The page looks scrolled down.

This is what I get.

<img width="1878" alt="Screen Shot 2022-08-12 at 15 40 54" src="https://user-images.githubusercontent.com/1208960/184454762-b9617eed-df9a-4ff3-a91c-aaf9b836481e.png">

[2022-08-15 16:29] chachasikes commented on #86
Thanks Jon! That's helpful - I see the menu hamburger today (which I did not see on Friday)

It's very subtle & is also different from how AWS has done menus that I have used in the past.

Suggestions for docs:
* Look for a menu hamburger on the left
* Expand it
* Choose "List Certificates"

Attaching more screenshots of how it looks when the menu is expanded.

![Screen Shot 2022-08-15 at 9 26 34

[2022-08-15 18:10] zakiya opened #87 "Document Aug 11 covid19 publishing failure"
Since our [Slack history](https://cadotgov.slack.com/archives/CVCSH3CR5/p1660237815708209) isn't permanent, please document what happened, troubleshooting steps, and how the issue was resolved.

[2022-08-15 18:47] carterm commented on #87
CDT accidentally deleted `fa-cdt-covid19-d-001` on August 10th.  Because the service name had a `-d-` in it, and it was on the `CDT/ODI Development` resource group, they thought it was safe to delete.

Azure has an `Activity log` panel associated with resource groups where `Delete website` activities can be discovered.

Unfortunately, Azure has no way to store site owner/description information in

[2022-08-15 18:49] carterm commented on #87
CDT was able to manually recreate the resource, but settings/source connections had to be manually configured.  This site appears to be functioning normally.

[2022-08-15 20:53] zakiya commented on #87
Was it moved to a different resource group and/or renamed? I'd like to minimize the chance of it happening again.

[2022-08-15 22:42] zakiya commented on #86
@chachasikes My two cents is that you should just go ahead and update the docs with your improvements.

[2022-08-16 16:14] chachasikes commented on #86
Thx for the prompt to close this out.

Done: https://github.com/cagov/odi-engineering/wiki/Set-up-PR-preview-sites

I think the mini screenshots are sufficient for this.

Closing.

[2022-08-16 16:14] #86 closed, assigned to nobody

[2022-08-17 15:12] zakiya commented on #84
Discussed at codeshare. Will first create a spreadsheet of potential contrib projects and see how that goes. Putting this on hold for now.

[2022-08-17 15:14] zakiya commented on #87
@carterm Can you answer the question above?

[2022-08-17 16:10] zakiya opened #88 "Spreadsheet to track potential contrib projects/components"

[2022-08-17 16:51] zakiya opened #89 "Sanity.io research"

[2022-08-17 17:16] carterm commented on #87
It was not moved.  Still in the CDT/ODI Development resource group.  Renaming and moving might break links/relations.

[2022-08-17 17:27] zakiya commented on #76
@xjensen Please upload what you have to the 11ty build repo

[2022-08-17 17:30] zakiya commented on #48
This is live on drought.

[2022-08-17 17:35] chachasikes commented on #4
Found it.

Moved the original markdown to Coda in Engineering wiki.

https://coda.io/d/_dL_3_CR2bVn/README-template-DRAFT_sunW_

Next steps:
- [ ] Re-read and revise in Coda (Chach)
- [ ] Include notes on what work went into the template and why (it's not arbitrary)
- [ ] Go over and vet this
- [ ] Decide on a place to store the template
- [ ] Version the template
- [ ] Add a link to our docs & ot

[2022-08-17 17:43] chachasikes commented on #89
Update:
- [ ] Get questions from team (Happening for next week's codeshare)
- [ ] Schedule a demo session, ask our questions (especially about data storage options)

[2022-08-17 18:06] chachasikes commented on #4
I'll have my revisions to the template done for next bi-weekly meeting.

[2022-08-18 21:58] xjensen commented on #76
I've entered a draft PR into 11ty-build-system at cagov/11ty-build-system#3.

[2022-08-19 14:15] zakiya commented on #76
Thank you. Moving this to "On hold" since we have a lot of higher priority things going on right now.

[2022-08-24 17:57] zakiya commented on #84
Creating @cagov/design-system-contributed-components as I have an immediate need for combobox-places

[2022-08-24 19:49] zakiya commented on #88
https://github.com/cagov/design-system-contributed-components/tree/main/combobox

[2022-08-26 20:41] chachasikes commented on #84
Great! :)

[2022-08-30 20:15] chachasikes opened #90 "GitHub cleanup | accounts + teams"
Activity suggestion for codeshare or a dedicated meeting:

Go through our projects, update who is on projects & link to "teams" whenever possible.

[2022-08-30 21:19] jbum opened #91 "Document and cleanup all Wordpress Integration points (repos and Azure resources)"
Make a document providing for each integration point
* Azure Resource ID
* Github Repo (of integration service)
* Target Repo(s) (of websites that use each service),
* Trigger URLs,
* Slack channels reported to.
* Current status (active/stale)

Identify and remove unused ones.

[2022-08-30 21:39] zakiya commented on #91
Excellent! I have been building on [@chachasikes document](https://coda.io/d/Engineering-wiki_dL_3_CR2bVn/Github-tokens-for-publishing-services_suqOI) today. Would love collaboration

[2022-08-31 00:07] jbum commented on #91
Nice! Yeah, I can add this info there where appropriate.

[2022-09-14 17:24] zakiya opened #92 "Leaderboard update"
https://cagov.github.io/leaderboard/

Add  abortion.ca.gov broadbandforall + other new sites
Change digital.ca.gov to innovation.ca.gov
Prune list so audit script runs faster
Add readability audits

[2022-09-23 23:02] zakiya opened #93 "Complete testing spreadsheet"
[Airtable](https://airtable.com/appTWR8AaPjYHIjtB/tbl9a7eItUq8Zah04/viwLzzkAaPPB68VH0?blocks=hide)

[2022-11-04 21:43] #82 closed, assigned to nobody